/* Notification center */

.deadd-noti-center {
	color: #ffffff;
}

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
	background: #000000;
}

/* Notifications */

.notificationInCenter, .notification.container {
	background: #333;
	border-radius: .825em;
	padding: .75em;
	margin-left: .25em;
	margin-right: .25em;
	margin-top: .25em;
	margin-bottom: -.75em;
}

.blurredBG.notification {
	background: #333;
}

.notificationInCenter > *, .notification > * {
	margin: 0em;
}

.notification.appname, .in-center.appname {
	color: #aaa;
	font-weight: normal;
	font-size: 1.125rem;
}
.notification.body, .in-center.body {
	font-size: 1.5rem;
	margin-bottom: .25em;
	margin-top: .25em;
	margin-left: 0em;
}
.notification.title, .in-center.title {
	font-weight: bold;
	font-size: 1.75rem;
}
.notification.image, .in-center.image {
}
.notification.icon, .in-center.icon {
}
.notification.actionbutton, .in-center.actionbutton {
}

.notification.scale, .in-center.scale {
	margin-top: .25em;
	margin-bottom: .25em;
	margin-left: -.75em;
	margin-right: -.75em;
}

.notification.scale slider, .in-center.scale slider {
	margin: -.375em;
	min-width: 1.375em;
	min-height: 1.375em;
}

.notification.scale trough, .in-center.scale trough {
	background-color: #111;
	color: #111;
	border-color: transparent;
	border-radius: 1em;
}

.notification.scale trough highlight, .in-center.scale trough highlight {
	background-color: #f00;
	color: #f00;
	border-color: transparent;
	border-radius: 1em;
}

.notification.appname {
}
.notification.body {
}
.notification.title {
}
.notification.image {
	margin-left: -1em;
	margin-right: 1em;
}
.notification.icon {
}
.notification.actionbutton {
}

.in-center {
}
.in-center.appname {
}
.in-center.body {
}
.in-center.title {
}
.in-center.time {
	color: #777;
	font-weight: bold;
	font-size: 1.125rem;
	font-family: normal;
}
.in-center.image {
}
.in-center.icon {
}
.in-center.button-close {
}
.in-center.actionbutton {
}

.noti-center.body {
}
.noti-center.time {
	font-size: 4rem;
	font-weight: normal;
	margin-left: .25em;
}
.noti-center.date {
	font-size: 2rem;
	margin-left: .75em;
}
/* BUG: missing .noti-center class upstream */
.deadd-noti-center.delete-all {
	font-size: 2rem;
}
.noti-center.userbutton {
}


/* Buttons */

button {
	background: transparent;
	border-radius: 3px;
	border-width: 0px;
	background-position: 0px 0px;
	text-shadow: none;
}

button:hover {
	border-radius: 3px;
	background: rgba(0, 20, 20, 0.2);
	border-width: 0px;
	border-top: transparent;
	border-color: #f00;
}


/* Custom Buttons */

.userbutton {
	background: rgba(20,0,0, 0.15);
}

.userbuttonlabel {
	font-size: 12px;
}

.userbutton:hover {
	background: rgba(20, 0, 0, 0.2);
}

.userbuttonlabel:hover {
}

button.buttonState1 {
	background: rgba(20,0,0,0.5);
}

.userbuttonlabel.buttonState1 {
}

button.buttonState1:hover {
	background: rgba(20,0,0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
}

button.buttonState2 {
	background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
}

button.buttonState2:hover {
	background: rgba(20,0,0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
}
