* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: "Symbols Nerd Font Mono", "JetBrains Mono";
	font-size: 13px;
	transition-duration: .1s;
}

window#waybar {
	background-color: #000000;
	border-bottom: 3px solid alpha(#485263, 0.7);
	color: #ffffff;
	transition-property: background-color;
}

window#waybar.hidden {
	opacity: 0.2;
}

button {
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#clock:hover,
#custom-notification:hover,
#custom-pick_color:hover,
#custom-scan_qr:hover,
#custom-cycle_wallpaper:hover,
#wireplumber:hover,
#pulseaudio:hover,
button:hover {
	background: inherit;
	box-shadow: inset 0 -2px alpha(#ffffff, 0.8);
}

#backlight,
#battery,
#clock,
#cpu,
#custom-notification,
#custom-pick_color,
#custom-scan_qr,
#custom-cycle_wallpaper,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#power-profiles-daemon,
#privacy-item,
#scratchpad,
#submap,
#temperature,
#tray,
#wireplumber,
#pulseaudio,
#workspaces,
#mpd {
	padding: 0 10px;
}

#cpu,
#memory {
	min-width: 44px;
}

#wireplumber,
#pulseaudio {
	min-width: 56px;
}

#window,
#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
	margin-right: 0;
}

#mode {
	background-color: #ffa000;
	color: #000000;
}

#battery.charging {
	background-color: #ffffff;
	color: #000000;
}

#battery.plugged:not(.charging) {
	background-color: #2980b9;
}

@keyframes blink {
	0% {
		background-color: #e05f65;
	}

	49% {
		background-color: #e05f65;
	}

	50% {
		background-color: #000000;
	}

	100% {
		background-color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
	background-color: #f1c40f;
	color: #000000;
}

#battery.critical:not(.charging) {
	background-color: #e05f65;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
}

#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
	background-color: #e05f65;
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
}

#power-profiles-daemon.power-saver {
	background-color: #000000;
}

#memory.warning {
	background-color: #f1c40f;
	color: #000000;
}

/*
#bluetooth.on {
	box-shadow: inset 0 -2px alpha(#70a5eb, 0.4);
}
*/

#memory.critical,
#network.disconnected,
#pulseaudio.source-muted,
#temperature.critical,
#wireplumber.muted,
#mpd.disconnected {
	background-color: #e05f65;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #e05f65;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#language {
	background: #00b093;
	color: #740864;
	padding: 0 5px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state {
	padding: 0 0px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state>label {
	padding: 0 5px;
}

#keyboard-state>label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy-item {
	padding: 0 5px;
}

#privacy-item.screenshare {
	box-shadow: inset 0 -2px #e05f65;
}

#privacy-item.audio-in {
	box-shadow: inset 0 -2px #78dba9;
}

#privacy-item.audio-out {
	box-shadow: inset 0 -2px #70a5eb;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #ffffff;
}

#workspaces button.visible {
	background-color: #2770de;
	box-shadow: inset 0 -2px #70a5eb;
}

#workspaces button.urgent {
	background-color: #e05f65;
}

#workspaces button:hover {
	box-shadow: inset 0 -2px #ffffff;
}
